{{- if eq .chezmoi.os "android" -}}
set -x BROWSER termux-open-url
set -x PERSONAL "$HOME/storage/shared/Personal"

abbr pi pkg install -y
abbr pr pkg remove -Ry
abbr pu pkg update && pkg upgrade
abbr pdv pd sh void --user prncss
{{- end }}
